body {
  margin: 0;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

p {

}

a {
  text-decoration: none;
  color: white;
}

hr {
  color: rgba(255, 255, 255, 0.1);
  margin: 0;
}

.nav {
  display: flex;
  position: relative;
  height: 100px;
  width: 100%;
  z-index: 10000;
  transition: 1s;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: black;
  align-items: center;
}

.logo {
  display: flex;
  padding-left: 80px;
  z-index: 5000;
  transition: 1s;
  text-decoration: none;
}

#logoMarinho {
  width: 90%;
  transition: 1s;
}

.links {
  display: flex;
  z-index: 2000;
  font-size: 11pt;
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding-left: 50px;
  word-spacing: 50px;
  transition: 1s;
  cursor: pointer;
}

#home:hover, #machados:hover, #pulseiras:hover, #contacts:hover,#história:hover  {
  border-bottom: 3px solid rgba(255, 34, 8, 1);
  transition: 1s;
}



.social-media {
  padding-left: 670px;
  z-index: 2000;
  font-size: 12pt;
  font-family: 'Open Sans', sans-serif;
  color: white;
  cursor: pointer;
}

.social-media :hover {
  transition: 0.3s;
  -webkit-filter: drop-shadow(1px 1px 0px #ff2703);
  filter: drop-shadow(1px 2px 0px #ff2703);
  animation: 1s alternate infinite mover;
}

.banner {
  width: 1920px;
  cursor: pointer;
}

.slider-wrapper {
  position: relative;
  margin: 0 auto;
}

.slider {
  display: flex;
  overflow-x: hidden;
}

.slider img {
  width: 100%;
  -webkit-user-drag: none;
}

.bannerMobile {
  display: none;
}

.products {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 80px 80px 80px;
}

#productBox {
  display: flex;
  width: 400px;
  height: 280px;
  background-color: #3d3d3d;
  background: repeating-linear-gradient( -45deg, #2b2b2b, #2b2b2b 1px, #191919 5px, #191919 25px );
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 200px #000;
  margin-right: 10px;
  margin-left: 10px;
  align-items: center;
  text-align: center;
  flex-flow: column;
  transition: 0.5s;
}

#productLead {
  margin: 20px;
  font-weight: 800;
  background: -webkit-linear-gradient(#ffffff, #eaeaea, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

#item, #item1, #item2, #item3 {
  width: 200px;
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  filter: drop-shadow(15px 5px 5px black);
}

#icon {
  display: none;
}

#featured {
  display: none;
}

#slideMenu {
  display: none;
}

#productLead {
  color: white;
}

#priceTag {
  position: relative;
  width: 60px;
  height: 40px;
  background-color: #ff2212;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  top: 12px;
  left: 160px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

#price {
  margin-top: 6px;
}

.products :hover {
  transform: scale(1.03);
}

.products :hover #priceTag {
  background-color: #f15d1c;
}

#productBox :hover {
  transform: none;
}

#priceTag :hover {

}

#bgIntro {
  background-color: white;
  clip-path: polygon(0% 5%, 100% 0%, 100% 90%, 0% 100%);
  background-image: url("../imgs/marketingimg.png");
  background-attachment: fixed;
  height: 400px;
}

#introdução {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 0px;
  border-top: 5px solid rgba(255, 255, 255, 1);
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 100%);
  padding-bottom: 40px;
  opacity: 0;
  transition: 0.1s;
}

#leadText {

  padding: 0px;
  opacity: 1;
}

#row {
  display: flex;
  flex-flow: row;
}

#atributos {
  width: 170px;
  margin: 10px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0);
}

#atributos:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#copyright {
  display: flex;
  color: white;
  text-align: center;
  height: 200px;
  padding-bottom: 40px;
  align-items: center;
}

#copyrighttext {
  width: 100%;
}

#footer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#payment {
  display: flex;
  flex-flow: column;
  color: white;
  padding-top: 20px;
  align-items: center;
  text-align: center;
}

#metodos {
  display: flex;
  flex-flow: row;
  margin: 10px;
  color: white;
}

.pay {
  padding: 10px;
}

/* FILTERS & ANIMATIONS */

@-webkit-keyframes filtro {
  0% {
    -webkit-filter: brightness(1);
  }

  50% {
    -webkit-filter: brightness(2);
  }

  100% {
    -webkit-filter: brightness(1);
  }
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(-10px); }
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}



/* MOBILE */


@media only screen and (max-width: 768px) {

  body {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
  }

  #icon {
    display: flex;
    width: 35px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    margin: 6px 0;
  }

  #iconBg {
    padding-top: 5px;
    position: relative;
    margin-left: 70px;
  }

  /* SLIDE MENU */

  #slideMenu {
    display: flex;
    position: fixed;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.99);
    z-index: 500;
    left: 0;
    top: 0;
    transition: 1s;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  #menu-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    transition: 1s;
    opacity: 0;
    font-weight: 800;
  }

  #slideMenu a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #f1f1f1;
    display: block;
    transition: 1s;
  }

  #slideMenu a:hover, a:focus {
    color: white;
  }


  /* SLIDE MENU */


  .nav {
    display: flex;
    transition: 1s;
    color: white;
    background-color: black;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .logo {
    display: flex;
    position: relative;
    padding-left: 90px;
  }

  #featured {
    display: flex;
    cursor: pointer;
  }

  #featuredImg {
    width: 340px;
  }

  #logoMarinho {
    display: flex;
    width: 100%;
  }

  .links {
    display: none;
  }

  .banner {
    display: none;

  }

  .bannerMobile {
    display: flex;
    top: 0;
    margin: 0;
    padding: 0;
  }

  #lead {
    color: white;
    font-size: 30pt;
    font-weight: 800;
  }

  #bannerButtons {
    display: none;
  }

  #productBox {
    width: 250px;
    height: 200px;
    background-color: #3d3d3d;
    opacity: 0.8;
    background: repeating-linear-gradient( -45deg, #2b2b2b, #2b2b2b 1px, #191919 5px, #191919 25px );
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 200px #000;
    margin-right: 0px;
    margin-top: 20px;
  }

  .products {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9000;
    color: #b9b9b9;
  }

  #copyright {
    font-size: 12pt;
    font-weight: 400;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    color: white;
    padding-bottom: 50px;
  }

  #copyrighttext {
    text-align: center;
  }

  #copyrightspan {
    font-weight: 800;
  }


}
